body {
	padding-top: 3.5rem;
	padding-bottom: 1rem;
	background-color: #fafafa;
}

textarea { 
	resize: vertical; 
}

h1, h2, h3, h4 {
	font-weight: normal;
}

.navbar-custom {
    background-color: #1550cf;
}

.navbar-custom .active {
	font-weight: 500;
}

.navbar-custom .navbar-nav .nav-link {
	color: #ffffffbf;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
