<h2>About Us</h2>
<ul>
    <li><b>Company:</b> <%= company.name %></li>
    <li><b>Address:</b> <%= company.address %></li>
    <li><b>Phone:</b> <%= company.phone %></li>
    <li><b>E-mail:</b> <%= company.email %></li>
</ul>
<h4>Map:</h4> <!-- https://www.embedgooglemap.net/ -->
<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Szeged%2C%20mars%20t%C3%A9r&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/1/">page</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div>
