<div class="row">
    <div class="col-md-12">
    <p class="text-justify"><%- article.full.replace(/{newline}/g, '<br />') %></p>
    <p><a class="btn btn-primary" role="button" onclick="window.history.back()" >&laquo; Go back</a></p>
    </div>
</div>