<div class="row">
    <div class="col-md-12">
    <p class="text-justify"><%- article.full.replace(/{newline}/g, '<br />') %></p>
    <p><button class="btn btn-primary" onclick="window.history.back()">&laquo; Go back</button></p>
    </div>
</div>